@use '../abstracts'as abstract;
@use '../mixins'as mixin;

header {
    // padding: 20px 0;
    width: 100%;
    max-width: 952px;
    margin: 0 auto;
    padding: 0.8*25px 0;
    background: white;

    nav {
        // margin: 10px;
//        margin: 0 8px;

        .top-row-container {
            display: flex;

            @media (min-width: 1240px) {
                img.arthaus-logo {
                    width: 150px;
                }
            }

            @media (max-width: 1239px) {
                img.arthaus-logo {
                    width: 140px !important;
                }
            }

            @media (max-width: 759px) {
                img.arthaus-logo {
                    width: 110px !important;
                }
            }

            .arthaus-home {
                margin-right: auto;
            }

            .desktop-menu {
                display: none;
                //            display: flex;
                //            align-items: center;
                //            justify-content: center;
                padding-left: 0.8*20px;

                a {
                    font-size: 16px !important;

                    @media (max-width: 759px) {
                        font-size: 14px !important;
                    }
                }

                @include mixin.m-respond-to(medium, abstract.$s-breakpoints) {
                    display: block;
                }
            }

            .mobile-menu {
                display: none;
                position: relative;

                ul {
                    li {
                        display: none;
                    }
                }

                .nav-icon {
                    width: 30px;
                    height: 22px;
                    position: absolute;
                    top: -5px;
                    right: 0;
                    transform: rotate(0deg);
                    transition: .5s cubic-bezier(1, 0, 0, 1);
                    cursor: pointer;

                    span {
                        display: block;
                        position: absolute;
                        height: 4px;
                        width: 100%;
                        background: mixin.m-get-key(abstract.$s-colours, dark-grey);
                        opacity: 1;
                        left: 0;
                        transform: rotate(0deg);
                        transition: .25s ease-in-out;

                        &:nth-child(1) {
                            top: 0px;
                            transform-origin: left center;
                        }

                        &:nth-child(2) {
                            top: 8px;
                            transform-origin: left center;
                            /*@media (max-width: 304px) {
                             top: 11px;
                         }*/
                        }

                        &:nth-child(3) {
                            top: 16px;
                            transform-origin: left center;
                        }
                    }

                    &.open {

                        span {

                            &:nth-child(1) {
                                transform: rotate(45deg);
                                top: 0px;
                                left: 5px;
                            }

                            &:nth-child(2) {
                                width: 0%;
                                opacity: 0;
                            }

                            &:nth-child(3) {
                                transform: rotate(-45deg);
                                top: 21px;
                                left: 5px;
                            }
                        }
                    }
                }

                @include mixin.m-respond-to(small-max, abstract.$s-breakpoints) {
                    display: block;
                    align-self: flex-start;
                }
            }
        }
        .menu-items {
            display: none;
            transition: 1.25s ease-in-out;

            &.open {
                display: block; 
                @media only screen and (min-width: 759px) {
                    display: none;
                    // height: 0;
                }
                background: white;
                z-index: 200;
                position: relative;
            }
           
            ul {
                /* flex styles */
                display: flex;
                flex-flow: column nowrap;
                /* other styles */
                padding: 0;
                margin: 10px 0 0 0;
                list-style: none;

                li {
                    align-self: flex-end;
                    background-color: mixin.m-get-key(abstract.$s-colours, white);
                    padding: 5px;
                    width: 100%;
                    text-align: center;
//                    width: 50%;
//                    text-align: right;
                    
                    a {
                        font-size: 14px;
                    }
                }
            }

        }
    }

    .mobile-opt .insights-list {
        display: block;
      }
      
      .insights-list {
        min-width: 160px;
        position: absolute;
        top: 44px;
        background-color: #f28b00;
        display: none !important;
        padding: 0px !important;
        text-align: left;
        z-index: 20;
      }
      
      .insights-list__item {
        color: white;
        text-transform: uppercase;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 14px !important;
        font-size: 13px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid white;
        transition: 0.3s;
        cursor: pointer;
      }
      
      .insights-list__item a {
        color: white !important;
        font-size: 13px !important;
        text-decoration: none !important;
        display: block;
        width: 100%;
      }
      
      nav .insights-list .insights-list__item a {
        font-size: 13px !important;
      }
      
      .insights-list__item a:hover {
        border-bottom: none !important;
        padding-bottom: 0 !important;
      }
      
      .insights-list__item:last-child {
        border-bottom: none;
      }
      
      .insights-item__icon {
        max-width: 20px;
        margin-right: 12px;
      }
      
      #desktop-insights:hover~.insights-list,
      .insights-list:hover {
        display: block !important;
      }
      
      .insights-list__item:hover {
        background-color: #42413a;
      }
      
      .insights-list__item.post-active {
        background-color: #42413a;
      }
      
      .mobile__insights-list {
        display: block !important;
      }
      
      .mobile__insights-list .mobile__insights-item {
        font-size: 12px;
        text-align: left !important;
        padding-left: 100px !important;
        background-color: transparent !important;
        width: 100% !important;
        cursor: pointer;
      }
      
      .work .mobile__insights-list .mobile__insights-item {
        padding-left: 120px !important;
      }
      
      .mobile__insights-item.post-active {
        color: #f28b00;
      }

    @media (max-width: 759px) {
        padding: 25px 0 0 0;
        height: 65px;
        width: 320px;
    }
}


.mobile-padding {
    padding-bottom: 130px;

    @media only screen and (min-width: 759px) {
        padding-bottom: 0;
    }
}


@media screen and (max-width: 1239px) {
    header {
        max-width: 710px;
    }
}

@media screen and (max-width: 759px) {
    header {
        max-width: 305px;
    }
}

// Uncomment in the future...
// @media (max-width: 759px) {
//     .home .mainWrapper .blocksContent .type-f, .home .mainWrapper .blocksWrapper .type-f, .work .mainWrapper .blocksContent .type-f, .work .mainWrapper .blocksWrapper .type-f, .about .mainWrapper .blocksContent .type-f, .about .mainWrapper .blocksWrapper .type-f, .expertise .mainWrapper .blocksContent .type-f, .expertise .mainWrapper .blocksWrapper .type-f, .contact .mainWrapper .blocksContent .type-f, .contact .mainWrapper .blocksWrapper .type-f {
//         width: 300px;
//         height: 45px !important;
        
//     }
// }

// .mainWrapper .header nav ul li a:not(.home-link) {
//     font-size: 16px !important;

//     @media (max-width: 759px) {font-size:14px!important;}
// }


