@use '../abstracts'as abstract;
@use '../mixins'as mixin;

$toolkitBlockWidth: 100px;
$toolkitblockHeight: 350px;
$toolkitblockMargin: 0px;
$toolkitViewpoint1: 430px;
$toolkitViewpoint2: 759px;
$toolkitViewpoint3: 1239px;

@media screen and (max-width: 758px) {
    .toolkitPage {
        nav.sub-nav .opt {
            width: 105px;
        }
    }

    .toolkitpage nav.sub-nav {
        max-width: 364px;
    }

    .toolkitPage {
        &.work .mainWrapper .blocksWrapper .type-h {
            max-width: 364px;
            width: 100%;
        }
    }
}

.toolkitPage {
    nav.sub-nav .opt a {
        letter-spacing: 1px;
        padding-bottom: 7px;
    }

    nav.sub-nav .opt:nth-child(1) a {
        border-bottom: 4px solid mixin.m-get-key(abstract.$s-colours, orange);

        &.post-active {
            color: mixin.m-get-key(abstract.$s-colours, orange);
        }
    }

    nav.sub-nav .opt:nth-child(2) a {
        border-bottom: 4px solid mixin.m-get-key(abstract.$s-colours, burgundy);

        &.post-active {
            color: mixin.m-get-key(abstract.$s-colours, burgundy);
        }
    }

    nav.sub-nav .opt:nth-child(3) a {
        border-bottom: 4px solid mixin.m-get-key(abstract.$s-colours, green);

        &.post-active {
            color: mixin.m-get-key(abstract.$s-colours, green);
        }
    }

    nav.sub-nav .opt:nth-child(4) a {
        border-bottom: 4px solid mixin.m-get-key(abstract.$s-colours, dark-blue);

        &.post-active {
            color: mixin.m-get-key(abstract.$s-colours, dark-blue);
        }
    }

    #contact-form {
        overflow: hidden;
        height: 0;
        
        .container-fluid {
            .row {
                [class*="col-"] {
                    h2, p, div {
                        opacity: 0;
                        transition: .3s;
                    }
                    
                }
            }
        }

        &.show-form {
            height: auto;
            .container-fluid {
                .row {
                    [class*="col-"] {
                        h2, p, div {
                            opacity: 1;
                            transition: .3s;
                        }
                    }
                }
            }
        }
    }

    #contact-form__show-btn:focus {
        color: white;
        border: none;
        outline-color: #F6F6F6;
    }
}

.fixed-footer {
    position: relative;
    width: 100%;
    max-width: 320px;

    @media(min-width:$toolkitViewpoint2) {
        max-width: 710px;
    }

    @media (min-width: $toolkitViewpoint3) {
        max-width: 952px;
    }
}

.fixed-active {
    position: fixed;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

#toolKitList {
    /*width:354px;*/
    margin: 0 auto;
    padding: 20px 0px;
    min-width: 320px;
    display: grid;
    grid-row-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 450px;

    // grid-template-rows:auto;
    @media(min-width:$toolkitViewpoint2) {
        max-width: 710px;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 330px;
        grid-gap: 15px;
    }

    @media (min-width: $toolkitViewpoint3) {
        max-width: 960px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 350px;
    }
}

.toolKit__block {
    background-color: red;
    width: 100%;
    display: block;
    border-bottom: 4px solid;

    &:hover {
        color: red;
        text-decoration: none !important;
    }

    &.inspiration {
        border-bottom-color: #7fa000;
    }

    &.blogPost {
        border-bottom-color: #8e5562;
        text-decoration: none;
    }

    &.socialPost {
        border-bottom-color: #365b7f;
    }
}

.toolKit__block.blogPost:hover {
    text-decoration: none;
}

.toolKit__title {
    //	text-align:left;
    padding: 20px;
    font-size: 15px;
    color: #878679;
    font-family: 'LatoWebBlack';
}

.toolKit__block#block-a {
    @media (min-width: $toolkitViewpoint2) {
        grid-column: 1/ span 2;
        grid-row: 1 / span 2;


        .toolKit__title {
            padding: 32px;
            font-size: 32px;
        }
    }

    figure {
        /*max-width: 420px;*/
        width: 100%;
    }
}

.toolKit__block.block-b,
.toolKit__block.block-c {
    figure {
        /*max-width: 200px;*/
        width: 100%;
    }
}

.toolKit__block#block-b1 {
    @media (min-width: $toolkitViewpoint3) {
        grid-column: 3/span 1;
        grid-row: 1 / span 1;
    }
}

.toolKit__block#block-b2 {
    @media (min-width: $toolkitViewpoint3) {
        grid-column: 4/span 1;
        grid-row: 1 / span 1;
    }
}

.toolKit__block#block-b3 {
    @media (min-width: $toolkitViewpoint3) {
        grid-column: 3/span 1;
        grid-row: 2 / span 1;
    }
}

.toolKit__block#block-b4 {
    @media (min-width: $toolkitViewpoint3) {
        grid-column: 4/span 1;
        grid-row: 2 / span 1;
    }
}

.contact-form__btn-wrap {
    text-align: center;
    padding: 10px;
    background-color: #F6F6F6;
    margin: 30px auto;
}